<!DOCTYPE html>
<html lang="zh-CN" style="position: fixed; width: 100%; overflow: hidden; ">

<head>
    
    <title>提交记录 1399903</title>
    <meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=1200">
<link href="/Public/static/cdnjs/layui/css/layui.css" rel="stylesheet">
<link href="/Public/static/cdnjs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
<link href="/Public/static/self/tomorrow.css" rel="stylesheet">
<link href="/Public/static/self/mathjax.css" rel="stylesheet">
<link href="/Public/static/self/style.css" rel="stylesheet">
<link href="/Public/css/jquery.datatables.min.css" rel="stylesheet">
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?52b314b9a24d899e6427360feba551a2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script src="/Public/js/unicourse.js"></script>

    <link href="/Public/css/sub.css" rel="stylesheet">

    <script src="/Public/static/cdnjs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/Public/static/cdnjs/layui/layui.js"></script>
    <script src="/Public/static/cdnjs/semantic-ui/2.4.1/semantic.js"></script>


    <style>
        #languages-menu::-webkit-scrollbar,
        #testcase-menu::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        #languages-menu .item::after,
        #testcase-menu .item::after {
            display: none;
        }
    </style>

    <script>
        window.pathLib = "/Public/cdn/package/cdnjs/";
        window.pathSelfLib = "/Public/cdn/package/self/";

        var originalConsoleWarn = console.warn;
        console.warn = function (message) {
            if (message.startsWith('Duplicate definition of module')) return;
            originalConsoleWarn.apply(console, arguments);
        };
    </script>

    <!-- Load monaco-editor -->
    <script src="/Public/cdn/package/cdnjs/monaco-editor/0.16.2/min/vs/loader.js"></script>
    <script src="/Public/cdn/package/self/monaco-editor.js"></script>
    <link rel="stylesheet" href="/Public/cdn/package/self/monaco-editor.css">

</head>

<body style="position: relative; margin-top: 49px; height: calc(100% - 49px); overflow-y: overlay; ">
    <div class="ui fixed borderless menu" style="position: fixed; height: 49px; ">
  <div class="ui container">
    <a class="header item" href="/"><span
        style="font-family: 'Exo 2'; font-size: 1.5em; font-weight: 600; ">YOJ2.0</span></a>
    <a class="item" href="/index.php/index/index/index.html"><i class="home icon"></i> 首页</a>
    <a class="item" href="/index.php/index/problem/index.html"><i class="list icon"></i> 题库</a>
    <!-- <a class="item" href="/class"><i class="comments icon"></i> 班级</a> -->
    <a class="item" href="/index.php/index/contest/index.html"><i class="calendar icon"></i> 考试</a>
    <a class="item" href="/index.php/index/submissions/index.html"><i class="tasks icon"></i> 评测</a>
    <a class="item" href="/index.php/index/rank/index.html"><i class="signal icon"></i> 排名</a>
    
        <div class="ui simple dropdown item"><a href="/index.php/index/course/index.html" style="color: inherit; "><i class="building  icon"></i> 课程
       <i class="dropdown icon"></i>
      </a>
      <div class="menu"><a href="/index.php/index/course/index.html" style="color: inherit; ">
        </a>
        <a class="item" href="/index.php/index/course/detail/cno/2025090sqk9bd0bg.html"><i class="book icon"></i>2025程序设计荣誉课程</a><a class="item" href="/index.php/index/course/detail/cno/202511ohpxm492ye.html"><i class="book icon"></i>2025-2026 程序设计荣誉课程</a><a class="item" href="/index.php/index/course/detail/cno/202609794p43vokg.html"><i class="book icon"></i>数据结构与算法I-强基</a>        <li class="divider"></li>
        <a class="item" href="/index.php/index/course/index.html"><i class="rocket icon"></i>全部课程</a>
      </div>
    </div>
        <!-- <a class="item" href="/ranklist"><i class="signal icon"></i> 排名</a>
            <a class="item" href="/discussion/global"><i class="comments icon"></i> 讨论</a>
            <a class="item" href="/help"><i class="help circle icon"></i> 帮助</a> -->
    <!-- <% if (typeof contest !== 'undefined' && contest && contest.id) { %>
              <a id="back_to_contest" class="item" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><i class="arrow left icon"></i> 返回考试</a>
            <% } %> -->
    <div class="right menu">
      <!-- <% if (user) { %> -->
      <!-- <a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>" style="color: inherit; ">
              <div class="ui simple dropdown item">
                <div class="menu">
                  <a class="item" href="<%= syzoj.utils.makeUrl(['user', user.id, 'edit']) %>"><i class="edit icon"></i>修改资料</a>
                  
                    <a class="item" href="<%= syzoj.utils.makeUrl(['admin', 'info']) %>"><i class="settings icon"></i>后台管理</a>
                  <a class="item" href-post="<%= syzoj.utils.makeUrl(['logout'], { url: req.originalUrl }) %>"><i class="power icon"></i>注销</a>
                </div>
              </div>
              </a> -->
      <!-- <% } else { %> -->
      <div class="item">
        <span>
          
        </span>
       
       

        
        
                 <!-- <a></a> -->
                 <div class="right menu">
                  <a href="/index.php/index/user/detail.html" style="color: inherit; ">
                    完成题目数：489 &nbsp 排名：3                  </a>
                 </div>
        <!-- <a href="/index.php/index/login/logout.html"></a> -->
        <!-- <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/index/stats.html">
            查看排名
          </a>
          <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/index/editpsw.html">
            修改密码
          </a>
          <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/login/logout.html">
            注销
          </a> -->

        <div class="right menu">

          <a href="/index.php/index/user/detail.html" style="color: inherit; ">
          </a>
          <div class="ui simple dropdown item"><a href="/index.php/index/user/detail.html" style="color: inherit; ">
            张涵 <i class="dropdown icon"></i>
            </a>
            <div class="menu"><a href="/index.php/index/user/detail.html" style="color: inherit; ">
              </a>


              
              
              <a class="item" href="/index.php/index/user/detail.html"><i class="edit icon"></i>我的数据</a>

              <a class="item" href="/index.php/index/user/edit.html"><i class="settings icon"></i>修改资料</a>
              
              <a class="item" href="/index.php/index/user/editpsw.html"><i class="settings icon"></i>修改密码</a>

              <a class="item" href="/index.php/index/login/logout.html"><i class="power icon"></i>退出登录</a>
            </div>
          </div>


        </div>
        
      </div>
      <!-- <% } %> -->
    </div>
  </div>
</div>


    <input type="hidden" value="1399903" id="subid_help" />
    <div style="margin-top: 28px; ">
        <div class="ui main container">
            <!-- <script src="/textFit.js"></script> -->
            <span id="submission_content">
                <div class="padding">
                    <table class="ui very basic center aligned table" id="status_table">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>题目名称</th>
                                <th>状态</th>
                                <th>分数</th>
                                <th>总时间</th>
                                <th>内存</th>
                                <th>代码</th>
                                <th>提交者</th>
                                <th>提交时间</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <a href="/index.php/index/submissions/detail/subno/1399903.html">#1399903</a>
                                </td>
                                <td> <a href="/index.php/index/problem/detail/pno/979.html">#979                                        零入度拓扑排序</a></td>
                                <td><span class="status">Accepted</span></td>
                                <td> <span class="score">100</span></td>
                                <td>
                                    127                                     ms
                                </td>
                                <td>
                                     748 KB
                                </td>
                                <td> <a href="addr">cpp17</a> / 1309 B</td>
                                <td> <a href="/index.php/index/user/detail/uid/2025201889.html" target="_blank">张涵(2025201889)</a></td>
                                <td class="stime"> 1789866430</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                                            </div>
                    
                    <span style="color: rgba(0, 0, 0, 0.4);font-weight: bold;">下边这个缩略输入输出，老师同意可以拉开看了^_^ (但考试时候不给看)</span>

                    <div class="ui styled fluid accordion" id="subtasks_list" style="margin-bottom:30px;margin-top:25px;">
                        
                        <div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #0</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">10                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">488                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">1.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>100 1780
95 61
95 66
95 42
95 62
95 69
95 31
95 46
95 80
95 35
95 33
95 71
95 41
95 72
95 30
95 13
9
<10321 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">1.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>95 61 38 51 83 85 12 57 88 2 28 36 44 72 76 6 90 17 24 10 73 33 18 54 63 87 48 27 34 56 82 30 52 94 
<191 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>95 61 38 51 83 85 12 57 88 2 28 36 44 72 76 6 90 17 24 10 73 33 18 54 63 87 48 27 34 56 82 30 52 94 62 16 78 37 91 89 49 25 81 2
<163 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #1</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">11                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">632                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">2.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>200 4219
126 178
126 176
126 120
126 122
126 26
126 85
126 186
126 24
126 82
126 191
126 1
126 180
1
<29043 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">2.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>126 178 68 47 95 83 65 185 159 112 12 55 161 165 1 187 22 124 143 119 52 173 82 62 140 78 70 51 155 
<591 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>126 178 68 47 95 83 65 185 159 112 12 55 161 165 1 187 22 124 143 119 52 173 82 62 140 78 70 51 155 41 84 160 6 64 130 33 146 11
<563 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #2</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">10                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">628                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">3.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>300 6564
211 155
211 118
211 101
211 28
211 68
211 5
211 70
211 253
211 69
211 29
211 86
211 255
211
<47363 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">3.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>211 155 114 191 127 76 263 276 159 202 218 224 160 221 174 234 238 132 181 236 31 289 165 212 119 16
<991 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>211 155 114 191 127 76 263 276 159 202 218 224 160 221 174 234 238 132 181 236 31 289 165 212 119 161 199 208 223 167 121 130 63
<963 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #3</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">12                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">496                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">4.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>400 9122
343 190
343 59
343 155
343 244
343 199
343 156
343 16
343 8
343 398
343 43
343 138
343 57
3
<67950 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">4.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>343 190 188 134 199 261 322 125 212 88 163 357 385 42 244 102 187 289 334 391 373 56 240 158 307 389
<1391 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>343 190 188 134 199 261 322 125 212 88 163 357 385 42 244 102 187 289 334 391 373 56 240 158 307 389 282 73 319 266 100 1 288 17
<1363 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #4</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">11                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">376                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">5.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>500 11624
179 150
179 325
179 334
179 223
179 487
179 35
179 280
179 196
179 183
179 156
179 228
179
<87974 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">5.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>179 150 456 425 163 479 274 119 89 26 337 307 384 183 232 345 84 145 18 466 38 303 148 428 30 354 6 
<1791 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>179 150 456 425 163 479 274 119 89 26 337 307 384 183 232 345 84 145 18 466 38 303 148 428 30 354 6 481 346 106 343 262 206 408 
<1763 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #5</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">13                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">632                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">6.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>600 14180
437 45
437 16
437 107
437 128
437 36
437 385
437 143
437 593
437 161
437 67
437 580
437 93
<107925 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">6.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>437 45 484 530 287 580 92 19 15 537 549 592 426 162 527 209 508 481 272 367 242 408 488 200 196 454 
<2191 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>437 45 484 530 287 580 92 19 15 537 549 592 426 162 527 209 508 481 272 367 242 408 488 200 196 454 565 149 269 566 148 497 466 
<2163 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #6</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">13                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">504                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">7.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>700 16814
558 104
558 220
558 297
558 501
558 607
558 668
558 418
558 379
558 599
558 24
558 608
558
<129493 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">7.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>558 104 414 381 433 474 477 424 33 678 573 294 254 221 585 216 496 234 557 351 614 372 645 352 516 1
<2591 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>558 104 414 381 433 474 477 424 33 678 573 294 254 221 585 216 496 234 557 351 614 372 645 352 516 19 293 636 611 78 677 86 1 61
<2563 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #7</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">16                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">748                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">8.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>800 19313
24 595
24 342
24 310
24 568
24 147
24 797
24 215
24 98
24 304
24 727
24 202
24 618
24 362

<149061 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">8.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>24 595 249 116 784 650 245 223 92 719 434 31 311 175 100 320 497 624 441 644 739 590 571 328 659 201
<2991 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>24 595 249 116 784 650 245 223 92 719 434 31 311 175 100 320 497 624 441 644 739 590 571 328 659 201 359 745 525 730 666 348 95 
<2963 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #8</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">15                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">524                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">9.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>900 21754
823 36
823 510
823 413
823 451
823 822
823 234
823 39
823 815
823 821
823 176
823 672
823 
<168715 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">9.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>823 36 330 418 612 149 266 486 644 841 189 900 298 129 826 308 648 183 781 452 217 71 730 483 262 66
<3391 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>823 36 330 418 612 149 266 486 644 841 189 900 298 129 826 308 648 183 781 452 217 71 730 483 262 66 688 743 169 746 241 433 347
<3363 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #9</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">16                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">612                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">10.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>1000 24430
309 451
309 545
309 392
309 31
309 262
309 669
309 735
309 638
309 567
309 349
309 868
30
<189826 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">10.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>309 451 254 195 467 440 4 772 580 133 325 235 90 924 742 538 599 16 145 437 59 102 493 428 811 101 5
<3792 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>309 451 254 195 467 440 4 772 580 133 325 235 90 924 742 538 599 16 145 437 59 102 493 428 811 101 541 268 504 438 717 595 586 5
<3764 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div>                </div>


                <div class="ui grid">
                                    </div>




                <form action="/index.php/index/index/prob_submit.html" method="post" onsubmit="return submit_code()"
                    id="submit_code" enctype="multipart/form-data">

                    <input name="language" type="hidden" id="form">
                    <input name="code" type="hidden">
                    <input name="pid" type="hidden" value="979">
                    <div class="ui grid" style="margin-top:30px;">
                        <div class="four wide column" style="margin-right: -25px; ">
                            <div class="ui attached vertical fluid pointing menu" id="languages-menu"
                                style="height: 370px; overflow-y: scroll; overflow-x: hidden; ">


                                <a style="border-radius: 0; " class="item active" data-value="cpp" data-mode="cpp">
                                    C++
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11" data-mode="cpp">
                                    C++ 11
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp17" data-mode="cpp">
                                    C++ 17
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp-noilinux" data-mode="cpp">
                                    C++ (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11-noilinux" data-mode="cpp">
                                    C++ 11 (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11-clang" data-mode="cpp">
                                    C++ 11 (Clang)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp17-clang" data-mode="cpp">
                                    C++ 17 (Clang)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="c" data-mode="c">
                                    C
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="c-noilinux" data-mode="c">
                                    C (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="csharp" data-mode="csharp">
                                    C#
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Mono 5.16.0.220</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="java" data-mode="java">
                                    Java
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">OpenJDK 10.0.2</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="pascal" data-mode="pascal">
                                    Pascal
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Free Pascal 3.0.4
                                    </div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="python2" data-mode="python">
                                    Python 2
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">PyPy 6.0.0 (Python
                                        2.7.13)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="python3" data-mode="python">
                                    Python 3
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">PyPy 6.0.0 (Python
                                        3.5.3)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="nodejs" data-mode="javascript">
                                    Node.js
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">10.14.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="ruby" data-mode="ruby">
                                    Ruby
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">2.5.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="haskell" data-mode="haskell">
                                    Haskell
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GHC 8.6.2</div>
                                </a>

                            </div>
                        </div>
                        <div class="twelve wide stretched column"
                            style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                            <div id="editor"
                                style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; "
                                class="editor">

                                <div class="ui active medium text loader">编辑器加载中 …</div>

                            </div>
                        </div>
                    </div>
                    <div class="ui center aligned vertical segment" style="padding-bottom: 0;display:none; ">
                        <button type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button>
                    </div>


        </div>
        </form>

        <script>
            $(function () {
                $('.ui.accordion').accordion({
                    selector: {
                        trigger: '.title:not(.pending)'
                    }
                });
            });
        </script>

        <div>
            <div id="not_pending"></div>
        </div>
        <script>

        </script>
        </span>
    </div>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <span style="color: #999;">YOJ Powered by YOJ</a>.</span>
        </div>
    </div>
    <script data-cfasync="false" src="/Public/cdn/semantic.min.js"></script>
    <!-- <script src="/Public/cdn/fChart.bundle.min.js"></script> -->
    <script src="/Public/cdn/package/self/script.js?20170710"></script>

    <script>
        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
        }
        $(document).ready(function () {
            $(".stime").each(function () {
                stime = $(this).text()
                // console.log(getLocalTime(stime))
                $(this).html(getLocalTime(stime))

            })

            $(".score").each(function () {
                sscore = $(this).text()
                sscore = parseInt(sscore)
                s_para = parseInt(sscore / 10)
                $(this).addClass("score_" + s_para.toString())
            })
            status_dict = {
                "Accepted": ['accepted', '<i class="checkmark icon"></i>'],
                'Compile Error': ['compile_error', '<i class="code icon"></i>'],
                'Runtime Error': ['runtime_error', '<i class="bomb icon"></i>'],
                'Time Limit Exceeded': ['time_limit_exceeded', '<i class="clock icon"></i>'],
                'Wrong Answer': ['wrong_answer', '<i class="remove icon"></i>'],
                'Waiting': ['waiting', '<i class="clock icon"></i>'],
                'System Error': ['system_error', '<i class="server icon"></i>'],
                'Memory Limit Exceeded': ['memory_limit_exceeded', '<i class="icon microchip"></i>'],
                'No Testdata': ['no_testdata', '<i class="icon folder open outline"></i>'],
                'Waiting': ["pending", '<i class="hourglass half icon"></i>']
            }
            
            $(".status").each(function () {
                sstatus = $(this).text()
                if (!status_dict.hasOwnProperty(sstatus)) {
                    sstatus = 'System Error'
                }
                $(this).addClass(status_dict[sstatus][0])
                $(this).prepend(status_dict[sstatus][1])

            })

            cnt = 1
            $(".point_idx").each(function () {
                $(this).html(cnt)
                cnt += 1
            })




        })
    </script>

    <script type="text/javascript">
        var editor;
        $.post("/index.php/index/submissions/getcode.html", { subid: $("#subid_help").val() }, function (res) {


            window.onEditorLoaded(function () {
                var editorElement = document.getElementById('editor');
                var content = '';
                content = "#include\u003Cstdio.h\u003E  \r\nint main()  \r\n{  \r\nint i=1;  \r\nint a;  \r\nscanf(\"%d\",&a);  \r\ndo  \r\n{  \r\n    printf(\"hello world\\n\",i=i+1);  \r\n}  \r\nwhile(i\u003C=a);  \r\nreturn 0;  \r\n}  ";
                content = res['code']
                editor = window.createCodeEditor(editorElement, $('#languages-menu .item.active').data('mode'), content);
                window.editor = editor;
            });


            $('#languages-menu')[0].scrollTop = $('#languages-menu .active')[0].offsetTop - $('#languages-menu')[0].firstElementChild.offsetTop;
            $(function () {
                $('#languages-menu .item').click(function () {
                    $(this)
                        .addClass('active')
                        .closest('.ui.menu')
                        .find('.item')
                        .not($(this))
                        .removeClass('active')
                        ;
                    monaco.editor.setModelLanguage(editor.getModel(), $(this).data('mode'));
                });
            });

        })

        var lastSubmitted = '';
        function submit_code() {

            evalue = editor.getValue().trim()

            if (!evalue) {
                return false;
            }
            $('#submit_code input[name=language]').val($('#languages-menu .item.active').data('value'));
            lastSubmitted = editor.getValue();
            $('#submit_code input[name=code]').val(editor.getValue());
            return true;
        }



    </script>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
          <span style="color: #999;">YOJ Powered by <a href="#" target="_blank">YOJ</a>.</span>
          <span style="color: #999;">友情链接：
            <a href="http://202.112.113.190:8080" target="_blank">YOJ旧版 </a>;
            <!-- <a href="http://obe.ruc.edu.cn" target="_blank">Unicourse </a>; -->
            <a href="https://syzoj.org/" target="_blank">SYZOJ </a>;
            <a href="http://obe.ruc.edu.cn" target="_blank">OBE </a>
            
          </span>
        </div>
      </div>

      
</body>

</html>