<!DOCTYPE html>
<html lang="zh-CN" style="position: fixed; width: 100%; overflow: hidden; ">

<head>
    
    <title>提交记录 1280416</title>
    <meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=1200">
<link href="/Public/static/cdnjs/layui/css/layui.css" rel="stylesheet">
<link href="/Public/static/cdnjs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
<link href="/Public/static/self/tomorrow.css" rel="stylesheet">
<link href="/Public/static/self/mathjax.css" rel="stylesheet">
<link href="/Public/static/self/style.css" rel="stylesheet">
<link href="/Public/css/jquery.datatables.min.css" rel="stylesheet">
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?52b314b9a24d899e6427360feba551a2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script src="/Public/js/unicourse.js"></script>

    <link href="/Public/css/sub.css" rel="stylesheet">

    <script src="/Public/static/cdnjs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/Public/static/cdnjs/layui/layui.js"></script>
    <script src="/Public/static/cdnjs/semantic-ui/2.4.1/semantic.js"></script>


    <style>
        #languages-menu::-webkit-scrollbar,
        #testcase-menu::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        #languages-menu .item::after,
        #testcase-menu .item::after {
            display: none;
        }
    </style>

    <script>
        window.pathLib = "/Public/cdn/package/cdnjs/";
        window.pathSelfLib = "/Public/cdn/package/self/";

        var originalConsoleWarn = console.warn;
        console.warn = function (message) {
            if (message.startsWith('Duplicate definition of module')) return;
            originalConsoleWarn.apply(console, arguments);
        };
    </script>

    <!-- Load monaco-editor -->
    <script src="/Public/cdn/package/cdnjs/monaco-editor/0.16.2/min/vs/loader.js"></script>
    <script src="/Public/cdn/package/self/monaco-editor.js"></script>
    <link rel="stylesheet" href="/Public/cdn/package/self/monaco-editor.css">

</head>

<body style="position: relative; margin-top: 49px; height: calc(100% - 49px); overflow-y: overlay; ">
    <div class="ui fixed borderless menu" style="position: fixed; height: 49px; ">
  <div class="ui container">
    <a class="header item" href="/"><span
        style="font-family: 'Exo 2'; font-size: 1.5em; font-weight: 600; ">YOJ2.0</span></a>
    <a class="item" href="/index.php/index/index/index.html"><i class="home icon"></i> 首页</a>
    <a class="item" href="/index.php/index/problem/index.html"><i class="list icon"></i> 题库</a>
    <!-- <a class="item" href="/class"><i class="comments icon"></i> 班级</a> -->
    <a class="item" href="/index.php/index/contest/index.html"><i class="calendar icon"></i> 考试</a>
    <a class="item" href="/index.php/index/submissions/index.html"><i class="tasks icon"></i> 评测</a>
    <a class="item" href="/index.php/index/rank/index.html"><i class="signal icon"></i> 排名</a>
    
        <div class="ui simple dropdown item"><a href="/index.php/index/course/index.html" style="color: inherit; "><i class="building  icon"></i> 课程
       <i class="dropdown icon"></i>
      </a>
      <div class="menu"><a href="/index.php/index/course/index.html" style="color: inherit; ">
        </a>
        <a class="item" href="/index.php/index/course/detail/cno/2025090sqk9bd0bg.html"><i class="book icon"></i>2025程序设计荣誉课程</a><a class="item" href="/index.php/index/course/detail/cno/202511ohpxm492ye.html"><i class="book icon"></i>2025-2026 程序设计荣誉课程</a><a class="item" href="/index.php/index/course/detail/cno/202609794p43vokg.html"><i class="book icon"></i>数据结构与算法I-强基</a>        <li class="divider"></li>
        <a class="item" href="/index.php/index/course/index.html"><i class="rocket icon"></i>全部课程</a>
      </div>
    </div>
        <!-- <a class="item" href="/ranklist"><i class="signal icon"></i> 排名</a>
            <a class="item" href="/discussion/global"><i class="comments icon"></i> 讨论</a>
            <a class="item" href="/help"><i class="help circle icon"></i> 帮助</a> -->
    <!-- <% if (typeof contest !== 'undefined' && contest && contest.id) { %>
              <a id="back_to_contest" class="item" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><i class="arrow left icon"></i> 返回考试</a>
            <% } %> -->
    <div class="right menu">
      <!-- <% if (user) { %> -->
      <!-- <a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>" style="color: inherit; ">
              <div class="ui simple dropdown item">
                <div class="menu">
                  <a class="item" href="<%= syzoj.utils.makeUrl(['user', user.id, 'edit']) %>"><i class="edit icon"></i>修改资料</a>
                  
                    <a class="item" href="<%= syzoj.utils.makeUrl(['admin', 'info']) %>"><i class="settings icon"></i>后台管理</a>
                  <a class="item" href-post="<%= syzoj.utils.makeUrl(['logout'], { url: req.originalUrl }) %>"><i class="power icon"></i>注销</a>
                </div>
              </div>
              </a> -->
      <!-- <% } else { %> -->
      <div class="item">
        <span>
          
        </span>
       
       

        
        
                 <!-- <a></a> -->
                 <div class="right menu">
                  <a href="/index.php/index/user/detail.html" style="color: inherit; ">
                    完成题目数：488 &nbsp 排名：3                  </a>
                 </div>
        <!-- <a href="/index.php/index/login/logout.html"></a> -->
        <!-- <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/index/stats.html">
            查看排名
          </a>
          <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/index/editpsw.html">
            修改密码
          </a>
          <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/login/logout.html">
            注销
          </a> -->

        <div class="right menu">

          <a href="/index.php/index/user/detail.html" style="color: inherit; ">
          </a>
          <div class="ui simple dropdown item"><a href="/index.php/index/user/detail.html" style="color: inherit; ">
            本人 <i class="dropdown icon"></i>
            </a>
            <div class="menu"><a href="/index.php/index/user/detail.html" style="color: inherit; ">
              </a>


              
              
              <a class="item" href="/index.php/index/user/detail.html"><i class="edit icon"></i>我的数据</a>

              <a class="item" href="/index.php/index/user/edit.html"><i class="settings icon"></i>修改资料</a>
              
              <a class="item" href="/index.php/index/user/editpsw.html"><i class="settings icon"></i>修改密码</a>

              <a class="item" href="/index.php/index/login/logout.html"><i class="power icon"></i>退出登录</a>
            </div>
          </div>


        </div>
        
      </div>
      <!-- <% } %> -->
    </div>
  </div>
</div>


    <input type="hidden" value="1280416" id="subid_help" />
    <div style="margin-top: 28px; ">
        <div class="ui main container">
            <!-- <script src="/textFit.js"></script> -->
            <span id="submission_content">
                <div class="padding">
                    <table class="ui very basic center aligned table" id="status_table">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>题目名称</th>
                                <th>状态</th>
                                <th>分数</th>
                                <th>总时间</th>
                                <th>内存</th>
                                <th>代码</th>
                                <th>提交者</th>
                                <th>提交时间</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <a href="/index.php/index/submissions/detail/subno/1280416.html">#1280416</a>
                                </td>
                                <td> <a href="/index.php/index/problem/detail/pno/276.html">#276                                        计算日期——按周</a></td>
                                <td><span class="status">Accepted</span></td>
                                <td> <span class="score">100</span></td>
                                <td>
                                    85                                     ms
                                </td>
                                <td>
                                     504 KB
                                </td>
                                <td> <a href="addr">c</a> / 2758 B</td>
                                <td> <a href="/index.php/index/user/detail/uid/已脱敏.html" target="_blank">本人(已脱敏)</a></td>
                                <td class="stime"> 1764297369</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                                            </div>
                    
                    <span style="color: rgba(0, 0, 0, 0.4);font-weight: bold;">下边这个缩略输入输出，老师同意可以拉开看了^_^ (但考试时候不给看)</span>

                    <div class="ui styled fluid accordion" id="subtasks_list" style="margin-bottom:30px;margin-top:25px;">
                        
                        <div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #0</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">10                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">252                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data1.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>11
2025 17
2006 54
2027 31
1997 17
1983 36
2004 8
2032 26
1983 26
2027 22
1987 46
2005 15
</code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data1.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20250422
-1
20270727
19970422
19830830
20040217
20320622
19830621
20270525
19871110
20050405
</code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20250422
-1
20270727
19970422
19830830
20040217
20320622
19830621
20270525
19871110
20050405
</code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #1</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">368                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data2.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>15
2038 7
2024 1
1988 11
1998 14
1996 50
1987 17
2037 24
1997 6
2030 17
2027 24
1992 18
2010 46
1996
<20 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data2.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20380209
20240102
19880308
19980331
19961210
19870421
20370609
19970204
20300423
20270608
19920428
2
<35 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20380209
20240102
19880308
19980331
19961210
19870421
20370609
19970204
20300423
20270608
19920428
20101109
19960604
20250318
19
<7 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #2</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">364                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data3.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>18
2039 7
1982 12
2011 45
1998 2
2009 10
2031 26
1991 33
2000 50
2023 12
1995 45
2029 31
2010 15
200
<43 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data3.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20390208
19820316
20111101
19980106
20090303
20310624
19910813
20001205
20230321
19951107
20290731
2
<62 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20390208
19820316
20111101
19980106
20090303
20310624
19910813
20001205
20230321
19951107
20290731
20100406
20030107
20300618
20
<34 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #3</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">376                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data4.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>21
1991 52
2000 12
2034 26
1999 53
2022 24
2014 25
1995 41
2014 40
2015 6
2023 23
2016 34
2010 48
20
<70 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data4.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>19911224
20000314
20340627
19991228
20220607
20140617
19951010
20140930
20150203
20230606
20160816
2
<89 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>19911224
20000314
20340627
19991228
20220607
20140617
19951010
20140930
20150203
20230606
20160816
20101123
20211026
20250708
20
<61 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #4</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">384                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data5.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>154
2003 52
2029 13
1995 6
2000 41
1985 39
1997 34
2010 49
2017 30
2018 1
1991 44
1992 36
2009 17
20
<1107 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data5.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20031223
20290327
19950207
20001003
19850924
19970819
20101130
20170725
20180102
19911029
19920901
2
<1250 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20031223
20290327
19950207
20001003
19850924
19970819
20101130
20170725
20180102
19911029
19920901
20090421
20390809
20310729
20
<1222 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #5</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">7                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">260                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data6.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>158
2004 42
1987 23
2007 41
2001 39
1998 53
1980 43
2015 47
2031 20
2010 50
2031 12
2040 49
1998 50

<1142 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data6.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20041012
19870602
20071009
20010925
19981229
19801021
20151117
20310513
20101207
20310318
20401204
1
<1310 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20041012
19870602
20071009
20010925
19981229
19801021
20151117
20310513
20101207
20310318
20401204
19981208
19850312
20251028
20
<1282 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #6</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">7                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">380                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data7.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>161
2017 42
2005 24
2030 21
2001 26
2011 13
2024 41
2030 1
2034 10
2013 45
1998 43
2015 52
1997 19
2
<1170 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data7.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20171017
20050607
20300521
20010626
20110322
20241008
20300101
20340307
20131105
19981020
20151222
1
<1319 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20171017
20050607
20300521
20010626
20110322
20241008
20300101
20340307
20131105
19981020
20151222
19970506
-1
20311118
20110426
<1291 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #7</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">7                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">504                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data8.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>164
2029 42
2034 24
1992 12
2002 24
2023 27
2007 50
2034 9
1987 44
2006 39
2027 11
2002 11
1997 52
2
<1188 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data8.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20291016
20340613
19920317
20020611
20230704
20071211
20340228
19871027
20060926
20270309
20020312
1
<1340 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20291016
20340613
19920317
20020611
20230704
20071211
20340228
19871027
20060926
20270309
20020312
19971223
20201013
20261208
20
<1312 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #8</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">11                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">292                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data9.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>1068
2031 32
1991 35
2014 46
2003 11
2036 41
1990 5
1989 8
1991 34
2009 34
2006 32
2039 14
1997 21
2
<8280 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data9.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>20310805
19910827
20141111
20030311
20361007
19900130
19890221
19910820
20090818
20060808
20390329
1
<9296 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>20310805
19910827
20141111
20030311
20361007
19900130
19890221
19910820
20090818
20060808
20390329
19970520
20270518
20320224
20
<9268 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #9</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">11                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">348                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">data10.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>3294
1980 1
1980 2
1980 3
1980 4
1980 5
1980 6
1980 7
1980 8
1980 9
1980 10
1980 11
1980 12
1980 13

<25708 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">data10.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>19800101
19800108
19800115
19800122
19800129
19800205
19800212
19800219
19800226
19800304
19800311
1
<28880 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>19800101
19800108
19800115
19800122
19800129
19800205
19800212
19800219
19800226
19800304
19800311
19800318
19800325
19800401
19
<28852 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div>                </div>


                <div class="ui grid">
                                    </div>




                <form action="/index.php/index/index/prob_submit.html" method="post" onsubmit="return submit_code()"
                    id="submit_code" enctype="multipart/form-data">

                    <input name="language" type="hidden" id="form">
                    <input name="code" type="hidden">
                    <input name="pid" type="hidden" value="276">
                    <div class="ui grid" style="margin-top:30px;">
                        <div class="four wide column" style="margin-right: -25px; ">
                            <div class="ui attached vertical fluid pointing menu" id="languages-menu"
                                style="height: 370px; overflow-y: scroll; overflow-x: hidden; ">


                                <a style="border-radius: 0; " class="item active" data-value="cpp" data-mode="cpp">
                                    C++
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11" data-mode="cpp">
                                    C++ 11
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp17" data-mode="cpp">
                                    C++ 17
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp-noilinux" data-mode="cpp">
                                    C++ (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11-noilinux" data-mode="cpp">
                                    C++ 11 (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11-clang" data-mode="cpp">
                                    C++ 11 (Clang)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp17-clang" data-mode="cpp">
                                    C++ 17 (Clang)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="c" data-mode="c">
                                    C
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="c-noilinux" data-mode="c">
                                    C (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="csharp" data-mode="csharp">
                                    C#
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Mono 5.16.0.220</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="java" data-mode="java">
                                    Java
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">OpenJDK 10.0.2</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="pascal" data-mode="pascal">
                                    Pascal
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Free Pascal 3.0.4
                                    </div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="python2" data-mode="python">
                                    Python 2
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">PyPy 6.0.0 (Python
                                        2.7.13)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="python3" data-mode="python">
                                    Python 3
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">PyPy 6.0.0 (Python
                                        3.5.3)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="nodejs" data-mode="javascript">
                                    Node.js
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">10.14.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="ruby" data-mode="ruby">
                                    Ruby
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">2.5.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="haskell" data-mode="haskell">
                                    Haskell
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GHC 8.6.2</div>
                                </a>

                            </div>
                        </div>
                        <div class="twelve wide stretched column"
                            style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                            <div id="editor"
                                style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; "
                                class="editor">

                                <div class="ui active medium text loader">编辑器加载中 …</div>

                            </div>
                        </div>
                    </div>
                    <div class="ui center aligned vertical segment" style="padding-bottom: 0;display:none; ">
                        <button type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button>
                    </div>


        </div>
        </form>

        <script>
            $(function () {
                $('.ui.accordion').accordion({
                    selector: {
                        trigger: '.title:not(.pending)'
                    }
                });
            });
        </script>

        <div>
            <div id="not_pending"></div>
        </div>
        <script>

        </script>
        </span>
    </div>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <span style="color: #999;">YOJ Powered by YOJ</a>.</span>
        </div>
    </div>
    <script data-cfasync="false" src="/Public/cdn/semantic.min.js"></script>
    <!-- <script src="/Public/cdn/fChart.bundle.min.js"></script> -->
    <script src="/Public/cdn/package/self/script.js?20170710"></script>

    <script>
        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
        }
        $(document).ready(function () {
            $(".stime").each(function () {
                stime = $(this).text()
                // console.log(getLocalTime(stime))
                $(this).html(getLocalTime(stime))

            })

            $(".score").each(function () {
                sscore = $(this).text()
                sscore = parseInt(sscore)
                s_para = parseInt(sscore / 10)
                $(this).addClass("score_" + s_para.toString())
            })
            status_dict = {
                "Accepted": ['accepted', '<i class="checkmark icon"></i>'],
                'Compile Error': ['compile_error', '<i class="code icon"></i>'],
                'Runtime Error': ['runtime_error', '<i class="bomb icon"></i>'],
                'Time Limit Exceeded': ['time_limit_exceeded', '<i class="clock icon"></i>'],
                'Wrong Answer': ['wrong_answer', '<i class="remove icon"></i>'],
                'Waiting': ['waiting', '<i class="clock icon"></i>'],
                'System Error': ['system_error', '<i class="server icon"></i>'],
                'Memory Limit Exceeded': ['memory_limit_exceeded', '<i class="icon microchip"></i>'],
                'No Testdata': ['no_testdata', '<i class="icon folder open outline"></i>'],
                'Waiting': ["pending", '<i class="hourglass half icon"></i>']
            }
            
            $(".status").each(function () {
                sstatus = $(this).text()
                if (!status_dict.hasOwnProperty(sstatus)) {
                    sstatus = 'System Error'
                }
                $(this).addClass(status_dict[sstatus][0])
                $(this).prepend(status_dict[sstatus][1])

            })

            cnt = 1
            $(".point_idx").each(function () {
                $(this).html(cnt)
                cnt += 1
            })




        })
    </script>

    <script type="text/javascript">
        var editor;
        $.post("/index.php/index/submissions/getcode.html", { subid: $("#subid_help").val() }, function (res) {


            window.onEditorLoaded(function () {
                var editorElement = document.getElementById('editor');
                var content = '';
                content = "#include\u003Cstdio.h\u003E  \r\nint main()  \r\n{  \r\nint i=1;  \r\nint a;  \r\nscanf(\"%d\",&a);  \r\ndo  \r\n{  \r\n    printf(\"hello world\\n\",i=i+1);  \r\n}  \r\nwhile(i\u003C=a);  \r\nreturn 0;  \r\n}  ";
                content = res['code']
                editor = window.createCodeEditor(editorElement, $('#languages-menu .item.active').data('mode'), content);
                window.editor = editor;
            });


            $('#languages-menu')[0].scrollTop = $('#languages-menu .active')[0].offsetTop - $('#languages-menu')[0].firstElementChild.offsetTop;
            $(function () {
                $('#languages-menu .item').click(function () {
                    $(this)
                        .addClass('active')
                        .closest('.ui.menu')
                        .find('.item')
                        .not($(this))
                        .removeClass('active')
                        ;
                    monaco.editor.setModelLanguage(editor.getModel(), $(this).data('mode'));
                });
            });

        })

        var lastSubmitted = '';
        function submit_code() {

            evalue = editor.getValue().trim()

            if (!evalue) {
                return false;
            }
            $('#submit_code input[name=language]').val($('#languages-menu .item.active').data('value'));
            lastSubmitted = editor.getValue();
            $('#submit_code input[name=code]').val(editor.getValue());
            return true;
        }



    </script>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
          <span style="color: #999;">YOJ Powered by <a href="#" target="_blank">YOJ</a>.</span>
          <span style="color: #999;">友情链接：
            <a href="http://202.112.113.190:8080" target="_blank">YOJ旧版 </a>;
            <!-- <a href="http://obe.ruc.edu.cn" target="_blank">Unicourse </a>; -->
            <a href="https://syzoj.org/" target="_blank">SYZOJ </a>;
            <a href="http://obe.ruc.edu.cn" target="_blank">OBE </a>
            
          </span>
        </div>
      </div>

      
</body>

</html>