<!DOCTYPE html>
<html lang="zh-CN" style="position: fixed; width: 100%; overflow: hidden; ">

<head>
    
    <title>提交记录 1399997</title>
    <meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=1200">
<link href="/Public/static/cdnjs/layui/css/layui.css" rel="stylesheet">
<link href="/Public/static/cdnjs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
<link href="/Public/static/self/tomorrow.css" rel="stylesheet">
<link href="/Public/static/self/mathjax.css" rel="stylesheet">
<link href="/Public/static/self/style.css" rel="stylesheet">
<link href="/Public/css/jquery.datatables.min.css" rel="stylesheet">
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?52b314b9a24d899e6427360feba551a2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script src="/Public/js/unicourse.js"></script>

    <link href="/Public/css/sub.css" rel="stylesheet">

    <script src="/Public/static/cdnjs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/Public/static/cdnjs/layui/layui.js"></script>
    <script src="/Public/static/cdnjs/semantic-ui/2.4.1/semantic.js"></script>


    <style>
        #languages-menu::-webkit-scrollbar,
        #testcase-menu::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        #languages-menu .item::after,
        #testcase-menu .item::after {
            display: none;
        }
    </style>

    <script>
        window.pathLib = "/Public/cdn/package/cdnjs/";
        window.pathSelfLib = "/Public/cdn/package/self/";

        var originalConsoleWarn = console.warn;
        console.warn = function (message) {
            if (message.startsWith('Duplicate definition of module')) return;
            originalConsoleWarn.apply(console, arguments);
        };
    </script>

    <!-- Load monaco-editor -->
    <script src="/Public/cdn/package/cdnjs/monaco-editor/0.16.2/min/vs/loader.js"></script>
    <script src="/Public/cdn/package/self/monaco-editor.js"></script>
    <link rel="stylesheet" href="/Public/cdn/package/self/monaco-editor.css">

</head>

<body style="position: relative; margin-top: 49px; height: calc(100% - 49px); overflow-y: overlay; ">
    <div class="ui fixed borderless menu" style="position: fixed; height: 49px; ">
  <div class="ui container">
    <a class="header item" href="/"><span
        style="font-family: 'Exo 2'; font-size: 1.5em; font-weight: 600; ">YOJ2.0</span></a>
    <a class="item" href="/index.php/index/index/index.html"><i class="home icon"></i> 首页</a>
    <a class="item" href="/index.php/index/problem/index.html"><i class="list icon"></i> 题库</a>
    <!-- <a class="item" href="/class"><i class="comments icon"></i> 班级</a> -->
    <a class="item" href="/index.php/index/contest/index.html"><i class="calendar icon"></i> 考试</a>
    <a class="item" href="/index.php/index/submissions/index.html"><i class="tasks icon"></i> 评测</a>
    <a class="item" href="/index.php/index/rank/index.html"><i class="signal icon"></i> 排名</a>
    
        <div class="ui simple dropdown item"><a href="/index.php/index/course/index.html" style="color: inherit; "><i class="building  icon"></i> 课程
       <i class="dropdown icon"></i>
      </a>
      <div class="menu"><a href="/index.php/index/course/index.html" style="color: inherit; ">
        </a>
        <a class="item" href="/index.php/index/course/detail/cno/2025090sqk9bd0bg.html"><i class="book icon"></i>2025程序设计荣誉课程</a><a class="item" href="/index.php/index/course/detail/cno/202511ohpxm492ye.html"><i class="book icon"></i>2025-2026 程序设计荣誉课程</a><a class="item" href="/index.php/index/course/detail/cno/202609794p43vokg.html"><i class="book icon"></i>数据结构与算法I-强基</a>        <li class="divider"></li>
        <a class="item" href="/index.php/index/course/index.html"><i class="rocket icon"></i>全部课程</a>
      </div>
    </div>
        <!-- <a class="item" href="/ranklist"><i class="signal icon"></i> 排名</a>
            <a class="item" href="/discussion/global"><i class="comments icon"></i> 讨论</a>
            <a class="item" href="/help"><i class="help circle icon"></i> 帮助</a> -->
    <!-- <% if (typeof contest !== 'undefined' && contest && contest.id) { %>
              <a id="back_to_contest" class="item" href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><i class="arrow left icon"></i> 返回考试</a>
            <% } %> -->
    <div class="right menu">
      <!-- <% if (user) { %> -->
      <!-- <a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>" style="color: inherit; ">
              <div class="ui simple dropdown item">
                <div class="menu">
                  <a class="item" href="<%= syzoj.utils.makeUrl(['user', user.id, 'edit']) %>"><i class="edit icon"></i>修改资料</a>
                  
                    <a class="item" href="<%= syzoj.utils.makeUrl(['admin', 'info']) %>"><i class="settings icon"></i>后台管理</a>
                  <a class="item" href-post="<%= syzoj.utils.makeUrl(['logout'], { url: req.originalUrl }) %>"><i class="power icon"></i>注销</a>
                </div>
              </div>
              </a> -->
      <!-- <% } else { %> -->
      <div class="item">
        <span>
          
        </span>
       
       

        
        
                 <!-- <a></a> -->
                 <div class="right menu">
                  <a href="/index.php/index/user/detail.html" style="color: inherit; ">
                    完成题目数：489 &nbsp 排名：3                  </a>
                 </div>
        <!-- <a href="/index.php/index/login/logout.html"></a> -->
        <!-- <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/index/stats.html">
            查看排名
          </a>
          <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/index/editpsw.html">
            修改密码
          </a>
          <a class="ui primary button" style="margin-right: 0.5em; " href="/index.php/index/login/logout.html">
            注销
          </a> -->

        <div class="right menu">

          <a href="/index.php/index/user/detail.html" style="color: inherit; ">
          </a>
          <div class="ui simple dropdown item"><a href="/index.php/index/user/detail.html" style="color: inherit; ">
            张涵 <i class="dropdown icon"></i>
            </a>
            <div class="menu"><a href="/index.php/index/user/detail.html" style="color: inherit; ">
              </a>


              
              
              <a class="item" href="/index.php/index/user/detail.html"><i class="edit icon"></i>我的数据</a>

              <a class="item" href="/index.php/index/user/edit.html"><i class="settings icon"></i>修改资料</a>
              
              <a class="item" href="/index.php/index/user/editpsw.html"><i class="settings icon"></i>修改密码</a>

              <a class="item" href="/index.php/index/login/logout.html"><i class="power icon"></i>退出登录</a>
            </div>
          </div>


        </div>
        
      </div>
      <!-- <% } %> -->
    </div>
  </div>
</div>


    <input type="hidden" value="1399997" id="subid_help" />
    <div style="margin-top: 28px; ">
        <div class="ui main container">
            <!-- <script src="/textFit.js"></script> -->
            <span id="submission_content">
                <div class="padding">
                    <table class="ui very basic center aligned table" id="status_table">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>题目名称</th>
                                <th>状态</th>
                                <th>分数</th>
                                <th>总时间</th>
                                <th>内存</th>
                                <th>代码</th>
                                <th>提交者</th>
                                <th>提交时间</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <a href="/index.php/index/submissions/detail/subno/1399997.html">#1399997</a>
                                </td>
                                <td> <a href="/index.php/index/problem/detail/pno/1121.html">#1121                                        旅游规划</a></td>
                                <td><span class="status">Accepted</span></td>
                                <td> <span class="score">100</span></td>
                                <td>
                                    733                                     ms
                                </td>
                                <td>
                                     10024 KB
                                </td>
                                <td> <a href="addr">cpp17</a> / 3225 B</td>
                                <td> <a href="/index.php/index/user/detail/uid/2025201889.html" target="_blank">张涵(2025201889)</a></td>
                                <td class="stime"> 1789867571</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                                            </div>
                    
                    <span style="color: rgba(0, 0, 0, 0.4);font-weight: bold;">下边这个缩略输入输出，老师同意可以拉开看了^_^ (但考试时候不给看)</span>

                    <div class="ui styled fluid accordion" id="subtasks_list" style="margin-bottom:30px;margin-top:25px;">
                        
                        <div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #0</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">376                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel1.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>10
0 1
0 2
1 3
0 4
2 5
0 6
0 7
4 8
6 9
</code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel1.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>0
1
2
3
4
5
6
8
9
</code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>0
1
2
3
4
5
6
8
9
</code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #1</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">380                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel2.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>30
0 1
0 2
1 3
3 4
3 5
1 6
4 7
7 8
0 9
2 10
5 11
5 12
0 13
11 14
11 15
7 16
0 17
0 18
12 19
7 20
0 2
<46 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel2.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>0
1
2
3
4
5
6
7
8
10
11
12
14
15
16
19
20
22
24
25
27
28
</code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>0
1
2
3
4
5
6
7
8
10
11
12
14
15
16
19
20
22
24
25
27
28
</code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #2</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">8                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">248                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel3.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>100
63 96
96 52
96 43
43 97
63 38
63 61
97 49
97 86
49 9
86 37
97 67
52 78
78 88
63 20
37 36
9 1
1 1
<481 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel3.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>1
8
9
13
15
17
27
33
36
37
43
49
52
54
57
64
66
77
78
82
85
86
88
89
92
96
97
</code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>1
8
9
13
15
17
27
33
36
37
43
49
52
54
57
64
66
77
78
82
85
86
88
89
92
96
97
</code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #3</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">10                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">392                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel4.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>500
212 213
212 2
2 230
212 4
230 428
212 452
2 138
212 8
212 378
428 254
428 47
212 484
212 472
484
<3664 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel4.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>2
12
15
18
19
20
27
28
35
39
44
54
55
61
86
97
98
100
109
112
136
139
143
151
153
154
158
159
168
17
<186 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>2
12
15
18
19
20
27
28
35
39
44
54
55
61
86
97
98
100
109
112
136
139
143
151
153
154
158
159
168
172
175
190
194
201
203
212
21
<158 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #4</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">10                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">492                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel5.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>1000
352 145
145 810
145 731
731 752
752 712
752 243
712 857
810 188
243 586
352 272
352 111
188 571
<7700 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel5.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>66
99
108
123
139
145
188
189
194
243
247
252
258
266
270
290
302
304
343
360
364
365
397
413
445
52
<122 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>66
99
108
123
139
145
188
189
194
243
247
252
258
266
270
290
302
304
343
360
364
365
397
413
445
521
529
548
552
553
571
586
59
<94 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #5</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">15                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">1016                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel6.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>10000
0 7917
7917 2803
0 5581
0 5286
2803 9953
5581 1576
1576 2789
9953 8613
5286 6020
5286 4029
861
<96853 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel6.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>0
30
44
64
72
107
135
139
168
180
183
193
227
265
275
302
389
394
406
408
411
432
498
537
577
584
58
<2021 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>0
30
44
64
72
107
135
139
168
180
183
193
227
265
275
302
389
394
406
408
411
432
498
537
577
584
588
619
627
640
651
692
712
72
<1993 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #6</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">81                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">5212                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel7.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>100000
4195 4978
4195 9798
4978 27428
9798 17940
27428 29025
4195 6034
27428 17229
27428 19812
29025
<1164452 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel7.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>2
34
49
65
115
121
203
209
233
266
268
305
315
334
372
403
454
483
499
629
656
670
685
702
723
751
7
<10748 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>2
34
49
65
115
121
203
209
233
266
268
305
315
334
372
403
454
483
499
629
656
670
685
702
723
751
789
803
804
847
898
939
1015

<10720 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #7</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">200                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">9952                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel8.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>200000
14895 25215
14895 25775
14895 3349
14895 139
25775 9976
14895 12644
14895 28502
25215 18864
1
<2491615 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel8.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>103
164
311
486
530
534
677
685
702
1009
1134
1171
1199
1263
1307
1323
1409
1533
1649
1752
1860
2017
<9034 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>103
164
311
486
530
534
677
685
702
1009
1134
1171
1199
1263
1307
1323
1409
1533
1649
1752
1860
2017
2184
2211
2312
2419
2660
26
<9006 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #8</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">195                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">10024                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel9.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>200000
7474 24133
24133 23717
23717 802
802 30793
23717 32072
7474 19091
24133 1059
24133 31631
2413
<2496244 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel9.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>107
113
163
209
345
521
542
649
663
802
1037
1054
1163
1345
1446
1514
1627
1661
1663
1685
1709
1734

<7120 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>107
113
163
209
345
521
542
649
663
802
1037
1054
1163
1345
1446
1514
1627
1661
1663
1685
1709
1734
1842
1924
1941
1991
1996
218
<7092 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div><div class="title auto_update">
                                <div class="ui grid">
                                    <div class="three wide column">测试点 #9</div>

                                    <div class="four wide column status status_detail accepted">
                                            
                                    <i class="checkmark icon"></i>
                                                                            
                                    2                                </div>
                                <div class="three wide column">得分：<span
                                        style="font-weight: normal; ">100</span>
                                </div>
                                <div class="three wide column">用时：<span style="font-weight: normal; ">198                                        ms</span>
                                </div>
                                <div class="three wide column">内存：<span style="font-weight: normal; ">10004                                        KiB</span>
                                </div>
                            </div>
                    </div>

                    <div class="content auto_update">
                        <p>
                            <strong>输入文件（<span style="font-family: monospace; ">travel10.in</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>200000
18884 27333
18884 3571
18884 27461
27333 6226
3571 27738
27461 20981
18884 20538
6226 7001
70
<2505046 bytes omitted></code></pre>
                            </div>

                            <strong>输出文件（<span style="font-family: monospace; ">travel10.out</span>）</strong>
                            <div class="ui existing segment">
                                <pre
                                    style="margin-top: 0; margin-bottom: 0; "><code>10
372
517
631
671
734
995
1041
1056
1116
1161
1258
1470
1924
2063
2218
2224
2537
2621
2669
2787
346
<5228 bytes omitted></code></pre>
                            </div>
                            <strong>选手输出</strong>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code>10
372
517
631
671
734
995
1041
1056
1116
1161
1258
1470
1924
2063
2218
2224
2537
2621
2669
2787
3461
3713
3865
3975
4016
4123
4
<5200 bytes omitted></code></pre>
                            </div>
                        </p>
                    </div>                </div>


                <div class="ui grid">
                                    </div>




                <form action="/index.php/index/index/prob_submit.html" method="post" onsubmit="return submit_code()"
                    id="submit_code" enctype="multipart/form-data">

                    <input name="language" type="hidden" id="form">
                    <input name="code" type="hidden">
                    <input name="pid" type="hidden" value="1121">
                    <div class="ui grid" style="margin-top:30px;">
                        <div class="four wide column" style="margin-right: -25px; ">
                            <div class="ui attached vertical fluid pointing menu" id="languages-menu"
                                style="height: 370px; overflow-y: scroll; overflow-x: hidden; ">


                                <a style="border-radius: 0; " class="item active" data-value="cpp" data-mode="cpp">
                                    C++
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11" data-mode="cpp">
                                    C++ 11
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp17" data-mode="cpp">
                                    C++ 17
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 8.2.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp-noilinux" data-mode="cpp">
                                    C++ (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11-noilinux" data-mode="cpp">
                                    C++ 11 (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp11-clang" data-mode="cpp">
                                    C++ 11 (Clang)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="cpp17-clang" data-mode="cpp">
                                    C++ 17 (Clang)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="c" data-mode="c">
                                    C
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Clang 7.0.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="c-noilinux" data-mode="c">
                                    C (NOI)
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GCC 4.8.4 (NOILinux
                                        1.4.1)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="csharp" data-mode="csharp">
                                    C#
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Mono 5.16.0.220</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="java" data-mode="java">
                                    Java
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">OpenJDK 10.0.2</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="pascal" data-mode="pascal">
                                    Pascal
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">Free Pascal 3.0.4
                                    </div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="python2" data-mode="python">
                                    Python 2
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">PyPy 6.0.0 (Python
                                        2.7.13)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="python3" data-mode="python">
                                    Python 3
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">PyPy 6.0.0 (Python
                                        3.5.3)</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="nodejs" data-mode="javascript">
                                    Node.js
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">10.14.0</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="ruby" data-mode="ruby">
                                    Ruby
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">2.5.1</div>
                                </a>

                                <a style="border-radius: 0; " class="item" data-value="haskell" data-mode="haskell">
                                    Haskell
                                    <div class="ui right floated"
                                        style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; ">GHC 8.6.2</div>
                                </a>

                            </div>
                        </div>
                        <div class="twelve wide stretched column"
                            style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                            <div id="editor"
                                style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; "
                                class="editor">

                                <div class="ui active medium text loader">编辑器加载中 …</div>

                            </div>
                        </div>
                    </div>
                    <div class="ui center aligned vertical segment" style="padding-bottom: 0;display:none; ">
                        <button type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button>
                    </div>


        </div>
        </form>

        <script>
            $(function () {
                $('.ui.accordion').accordion({
                    selector: {
                        trigger: '.title:not(.pending)'
                    }
                });
            });
        </script>

        <div>
            <div id="not_pending"></div>
        </div>
        <script>

        </script>
        </span>
    </div>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <span style="color: #999;">YOJ Powered by YOJ</a>.</span>
        </div>
    </div>
    <script data-cfasync="false" src="/Public/cdn/semantic.min.js"></script>
    <!-- <script src="/Public/cdn/fChart.bundle.min.js"></script> -->
    <script src="/Public/cdn/package/self/script.js?20170710"></script>

    <script>
        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
        }
        $(document).ready(function () {
            $(".stime").each(function () {
                stime = $(this).text()
                // console.log(getLocalTime(stime))
                $(this).html(getLocalTime(stime))

            })

            $(".score").each(function () {
                sscore = $(this).text()
                sscore = parseInt(sscore)
                s_para = parseInt(sscore / 10)
                $(this).addClass("score_" + s_para.toString())
            })
            status_dict = {
                "Accepted": ['accepted', '<i class="checkmark icon"></i>'],
                'Compile Error': ['compile_error', '<i class="code icon"></i>'],
                'Runtime Error': ['runtime_error', '<i class="bomb icon"></i>'],
                'Time Limit Exceeded': ['time_limit_exceeded', '<i class="clock icon"></i>'],
                'Wrong Answer': ['wrong_answer', '<i class="remove icon"></i>'],
                'Waiting': ['waiting', '<i class="clock icon"></i>'],
                'System Error': ['system_error', '<i class="server icon"></i>'],
                'Memory Limit Exceeded': ['memory_limit_exceeded', '<i class="icon microchip"></i>'],
                'No Testdata': ['no_testdata', '<i class="icon folder open outline"></i>'],
                'Waiting': ["pending", '<i class="hourglass half icon"></i>']
            }
            
            $(".status").each(function () {
                sstatus = $(this).text()
                if (!status_dict.hasOwnProperty(sstatus)) {
                    sstatus = 'System Error'
                }
                $(this).addClass(status_dict[sstatus][0])
                $(this).prepend(status_dict[sstatus][1])

            })

            cnt = 1
            $(".point_idx").each(function () {
                $(this).html(cnt)
                cnt += 1
            })




        })
    </script>

    <script type="text/javascript">
        var editor;
        $.post("/index.php/index/submissions/getcode.html", { subid: $("#subid_help").val() }, function (res) {


            window.onEditorLoaded(function () {
                var editorElement = document.getElementById('editor');
                var content = '';
                content = "#include\u003Cstdio.h\u003E  \r\nint main()  \r\n{  \r\nint i=1;  \r\nint a;  \r\nscanf(\"%d\",&a);  \r\ndo  \r\n{  \r\n    printf(\"hello world\\n\",i=i+1);  \r\n}  \r\nwhile(i\u003C=a);  \r\nreturn 0;  \r\n}  ";
                content = res['code']
                editor = window.createCodeEditor(editorElement, $('#languages-menu .item.active').data('mode'), content);
                window.editor = editor;
            });


            $('#languages-menu')[0].scrollTop = $('#languages-menu .active')[0].offsetTop - $('#languages-menu')[0].firstElementChild.offsetTop;
            $(function () {
                $('#languages-menu .item').click(function () {
                    $(this)
                        .addClass('active')
                        .closest('.ui.menu')
                        .find('.item')
                        .not($(this))
                        .removeClass('active')
                        ;
                    monaco.editor.setModelLanguage(editor.getModel(), $(this).data('mode'));
                });
            });

        })

        var lastSubmitted = '';
        function submit_code() {

            evalue = editor.getValue().trim()

            if (!evalue) {
                return false;
            }
            $('#submit_code input[name=language]').val($('#languages-menu .item.active').data('value'));
            lastSubmitted = editor.getValue();
            $('#submit_code input[name=code]').val(editor.getValue());
            return true;
        }



    </script>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
          <span style="color: #999;">YOJ Powered by <a href="#" target="_blank">YOJ</a>.</span>
          <span style="color: #999;">友情链接：
            <a href="http://202.112.113.190:8080" target="_blank">YOJ旧版 </a>;
            <!-- <a href="http://obe.ruc.edu.cn" target="_blank">Unicourse </a>; -->
            <a href="https://syzoj.org/" target="_blank">SYZOJ </a>;
            <a href="http://obe.ruc.edu.cn" target="_blank">OBE </a>
            
          </span>
        </div>
      </div>

      
</body>

</html>